
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        .main{
            display: flex;
            flex-basis: 20px;
        }
    </style>
</head>
<body>
    <div class="main">
    <div>
  <form action="{% url 'query' %}" method="POST">
    {% csrf_token %}
    <label for="">Name</label>
    <input type="text" name="nm" value="{{data.name}}" readonly > <br>
    <label for="">Email</label>
    <input type="email" name="em" value="{{data.email}}" readonly> <br>
    <label for="">Query</label>
    <input type="text" name="query"> <br>
<button>Query</button>
</form>

    </div>
  
<div>
    <h2>Query Details</h2>
<table border="2px" solid >
    <thead >
        <tr>
            <th>S.No</th>
            <th>Name</th>
            <th>Email</th>
            <th>Query</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for i in query_data %}
        <tr>
           
       <td>{{forloop.counter}}</td> 
       <td>{{i.stu_name}} </td> 
       <td>{{i.stu_email}}</td> 
       <td>{{i.stu_query}}</td> 
       <td><button>Edit</button></td>
       <td><button>Delete</button></td>
          
        </tr>
       {% endfor %}   
    </tbody>
</table>
</div>




</div>
</body>
</html>






